*.py[co]
*~
*.dat
*.tab
.eric*
.ropeproject
*.e4p
*.tif
doc/build/*
testTrack.mpg
resources/teleporter/*
src/qml/Pyper.creator*
.idea
resources/recording.avi
*.qmlproject.user
/build/
*.egg-info
*owncloud*
*sync*.db*
